*{
    box-sizing:border-box;
    margin:0;
    padding:0
}
    
    body{
        font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
        background:radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
        background-attachment: fixed;
        display:flex;
        justify-content:center;
        align-items:center;
        width: 100%;
        height: 100%;
        min-height:100vh;
        overflow:hidden;
        animation: gradient 5s ease infinite;
    }

    .bg-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: conic-gradient(#a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6,
                    #a608ac,
                    #c306b6,
                    #f064e7,
                    #c306b6);
                    animation: 44s -27s move infinite ease-in-out alternate;
    }

        .wrapper {
            height: 100%;
            width: 100%;
            /*background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);*/
            position: absolute;
        }
    
        .wrapper div {
            height: 60px;
            width: 60px;
            border: 2px solid rgba(255, 255, 255, 0.7);
            border-radius: 50px;
            background-image: url('../images/uploaded_media_2_1774511201584.jpg');
            background-size: cover;
            opacity: 0.8;
            position: absolute;
            top: 10%;
            left: 10%;
            animation: 4s linear infinite;
            animation: img 4s linear infinite;
        }

        div .dot {
            height: 10px;
            width: 10px;
            background-color: #fff;
            opacity: 0.6;
            border-radius: 50px;
            position: absolute;
            top: 20%;
            right: 20%;
        }
    
        .wrapper div:nth-child(1) {
            top: 20%;
            left: 20%;
            animation: animate 8s linear infinite;
        }
    
        .wrapper div:nth-child(2) {
            top: 60%;
            left: 80%;
            animation: animate 10s linear infinite;
        }
    
        .wrapper div:nth-child(3) {
            top: 40%;
            left: 40%;
            animation: animate 3s linear infinite;
        }
    
        .wrapper div:nth-child(4) {
            top: 66%;
            left: 30%;
            animation: animate 7s linear infinite;
        }
    
        .wrapper div:nth-child(5) {
            top: 90%;
            left: 10%;
            animation: animate 9s linear infinite;
        }
    
        .wrapper div:nth-child(6) {
            top: 30%;
            left: 60%;
            animation: animate 5s linear infinite;
        }
    
        .wrapper div:nth-child(7) {
            top: 70%;
            left: 20%;
            animation: animate 8s linear infinite;
        }
    
        .wrapper div:nth-child(8) {
            top: 75%;
            left: 60%;
            animation: animate 10s linear infinite;
        }
    
        .wrapper div:nth-child(9) {
            top: 50%;
            left: 50%;
            animation: animate 6s linear infinite;
        }
    
        .wrapper div:nth-child(10) {
            top: 45%;
            left: 20%;
            animation: animate 10s linear infinite;
        }
    
        .wrapper div:nth-child(11) {
            top: 10%;
            left: 90%;
            animation: animate 9s linear infinite;
        }
    
        .wrapper div:nth-child(12) {
            top: 20%;
            left: 70%;
            animation: animate 7s linear infinite;
        }
    
        .wrapper div:nth-child(13) {
            top: 20%;
            left: 20%;
            animation: animate 8s linear infinite;
        }
    
        .wrapper div:nth-child(14) {
            top: 60%;
            left: 5%;
            animation: animate 6s linear infinite;
        }
    
        .wrapper div:nth-child(15) {
            top: 90%;
            left: 80%;
            animation: animate 9s linear infinite;
        }

                .stars {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 120%;
                    transform: rotate(-45deg);         }

                                        .star {
                                            --star-color: var(--primary-color);
                                            --star-tail-length: 6em;
                                            --star-tail-height: 2px;
                                            --star-width: calc(var(--star-tail-length) / 6);
                                            --fall-duration: 9s;
                                            --tail-fade-duration: var(--fall-duration);
                                            position: absolute;
                                            top: var(--top-offset);
                                            left: 0;
                                            width: var(--star-tail-length);
                                            height: var(--star-tail-height);
                                            color: var(--star-color);
                                            background: linear-gradient(45deg, currentColor, transparent);
                                            border-radius: 50%;
                                            filter: drop-shadow(0 0 6px currentColor);
                                            transform: translate3d(104em, 0, 0);
                                            animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
                                        }
                    
                                        @media screen and (max-width: 750px) {
                                            .star {
                                                animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
                                            }
                                        }
                    
                                        .star:nth-child(1) {
                                            --star-tail-length: 5.17em;
                                            --top-offset: 67.66vh;
                                            --fall-duration: 6.514s;
                                            --fall-delay: 9.948s;
                                        }
                    
                                        .star:nth-child(2) {
                                            --star-tail-length: 6.32em;
                                            --top-offset: 79.1vh;
                                            --fall-duration: 8.206s;
                                            --fall-delay: 0.658s;
                                        }
                    
                                        .star:nth-child(3) {
                                            --star-tail-length: 5.53em;
                                            --top-offset: 67.71vh;
                                            --fall-duration: 9.327s;
                                            --fall-delay: 6.745s;
                                        }
                    
                                        .star:nth-child(4) {
                                            --star-tail-length: 7.07em;
                                            --top-offset: 2.12vh;
                                            --fall-duration: 9.012s;
                                            --fall-delay: 3.939s;
                                        }
                    
                                        .star:nth-child(5) {
                                            --star-tail-length: 5.28em;
                                            --top-offset: 96.15vh;
                                            --fall-duration: 6.003s;
                                            --fall-delay: 7.027s;
                                        }
                    
                                        .star:nth-child(6) {
                                            --star-tail-length: 6.39em;
                                            --top-offset: 59.01vh;
                                            --fall-duration: 8.949s;
                                            --fall-delay: 0.97s;
                                        }
                    
                                        .star:nth-child(7) {
                                            --star-tail-length: 5.32em;
                                            --top-offset: 6.55vh;
                                            --fall-duration: 9.623s;
                                            --fall-delay: 0.081s;
                                        }
                    
                                        .star:nth-child(8) {
                                            --star-tail-length: 5.56em;
                                            --top-offset: 87.24vh;
                                            --fall-duration: 7.456s;
                                            --fall-delay: 4.52s;
                                        }
                    
                                        .star:nth-child(9) {
                                            --star-tail-length: 5.6em;
                                            --top-offset: 13.99vh;
                                            --fall-duration: 7.048s;
                                            --fall-delay: 5.069s;
                                        }
                    
                                        .star:nth-child(10) {
                                            --star-tail-length: 7.35em;
                                            --top-offset: 62.45vh;
                                            --fall-duration: 11.636s;
                                            --fall-delay: 8.86s;
                                        }
                    
                                        .star:nth-child(11) {
                                            --star-tail-length: 5.36em;
                                            --top-offset: 3.98vh;
                                            --fall-duration: 8.77s;
                                            --fall-delay: 4.171s;
                                        }
                    
                                        .star:nth-child(12) {
                                            --star-tail-length: 5.63em;
                                            --top-offset: 27.79vh;
                                            --fall-duration: 6.435s;
                                            --fall-delay: 0.743s;
                                        }
                    
                                        .star:nth-child(13) {
                                            --star-tail-length: 5.42em;
                                            --top-offset: 86.65vh;
                                            --fall-duration: 11.123s;
                                            --fall-delay: 5.071s;
                                        }
                    
                                        .star:nth-child(14) {
                                            --star-tail-length: 6.22em;
                                            --top-offset: 17.89vh;
                                            --fall-duration: 7.969s;
                                            --fall-delay: 7.996s;
                                        }
                    
                                        .star:nth-child(15) {
                                            --star-tail-length: 7.06em;
                                            --top-offset: 85.16vh;
                                            --fall-duration: 6.882s;
                                            --fall-delay: 0.903s;
                                        }
                    
                                        .star:nth-child(16) {
                                            --star-tail-length: 5.72em;
                                            --top-offset: 20.73vh;
                                            --fall-duration: 11.889s;
                                            --fall-delay: 1.976s;
                                        }
                    
                                        .star:nth-child(17) {
                                            --star-tail-length: 7em;
                                            --top-offset: 16.35vh;
                                            --fall-duration: 8.676s;
                                            --fall-delay: 8.268s;
                                        }
                    
                                        .star:nth-child(18) {
                                            --star-tail-length: 5.46em;
                                            --top-offset: 25.26vh;
                                            --fall-duration: 6.295s;
                                            --fall-delay: 9.321s;
                                        }
                    
                                        .star:nth-child(19) {
                                            --star-tail-length: 5.12em;
                                            --top-offset: 82.28vh;
                                            --fall-duration: 6.602s;
                                            --fall-delay: 5.354s;
                                        }
                    
                                        .star:nth-child(20) {
                                            --star-tail-length: 7.24em;
                                            --top-offset: 60.83vh;
                                            --fall-duration: 8.938s;
                                            --fall-delay: 0.463s;
                                        }
                    
                                        .star:nth-child(21) {
                                            --star-tail-length: 5.98em;
                                            --top-offset: 39.74vh;
                                            --fall-duration: 10.706s;
                                            --fall-delay: 2.405s;
                                        }
                    
                                        .star:nth-child(22) {
                                            --star-tail-length: 6.21em;
                                            --top-offset: 6.03vh;
                                            --fall-duration: 8.039s;
                                            --fall-delay: 2.299s;
                                        }
                    
                                        .star:nth-child(23) {
                                            --star-tail-length: 5.03em;
                                            --top-offset: 38.46vh;
                                            --fall-duration: 11.685s;
                                            --fall-delay: 3.403s;
                                        }
                    
                                        .star:nth-child(24) {
                                            --star-tail-length: 5.67em;
                                            --top-offset: 43.2vh;
                                            --fall-duration: 6.287s;
                                            --fall-delay: 7.412s;
                                        }
                    
                                        .star:nth-child(25) {
                                            --star-tail-length: 6.67em;
                                            --top-offset: 32.06vh;
                                            --fall-duration: 11.053s;
                                            --fall-delay: 7.259s;
                                        }
                    
                                        .star:nth-child(26) {
                                            --star-tail-length: 7.26em;
                                            --top-offset: 88.74vh;
                                            --fall-duration: 9.129s;
                                            --fall-delay: 3.855s;
                                        }
                    
                                        .star:nth-child(27) {
                                            --star-tail-length: 5.73em;
                                            --top-offset: 98.48vh;
                                            --fall-duration: 7.634s;
                                            --fall-delay: 2.518s;
                                        }
                    
                                        .star:nth-child(28) {
                                            --star-tail-length: 5.79em;
                                            --top-offset: 41.62vh;
                                            --fall-duration: 10.241s;
                                            --fall-delay: 7.959s;
                                        }
                    
                                        .star:nth-child(29) {
                                            --star-tail-length: 6.19em;
                                            --top-offset: 60.88vh;
                                            --fall-duration: 10.715s;
                                            --fall-delay: 2.507s;
                                        }
                    
                                        .star:nth-child(30) {
                                            --star-tail-length: 5.32em;
                                            --top-offset: 81.77vh;
                                            --fall-duration: 11.344s;
                                            --fall-delay: 2.219s;
                                        }
                    
                                        .star:nth-child(31) {
                                            --star-tail-length: 7.11em;
                                            --top-offset: 9.26vh;
                                            --fall-duration: 6.124s;
                                            --fall-delay: 1.098s;
                                        }
                    
                                        .star:nth-child(32) {
                                            --star-tail-length: 7.35em;
                                            --top-offset: 52.51vh;
                                            --fall-duration: 7.926s;
                                            --fall-delay: 2.265s;
                                        }
                    
                                        .star:nth-child(33) {
                                            --star-tail-length: 6.93em;
                                            --top-offset: 71.71vh;
                                            --fall-duration: 8.943s;
                                            --fall-delay: 9.228s;
                                        }
                    
                                        .star:nth-child(34) {
                                            --star-tail-length: 5.89em;
                                            --top-offset: 5.49vh;
                                            --fall-duration: 6.409s;
                                            --fall-delay: 0.448s;
                                        }
                    
                                        .star:nth-child(35) {
                                            --star-tail-length: 5.69em;
                                            --top-offset: 58.73vh;
                                            --fall-duration: 9.555s;
                                            --fall-delay: 8.574s;
                                        }
                    
                                        .star:nth-child(36) {
                                            --star-tail-length: 5.64em;
                                            --top-offset: 42.22vh;
                                            --fall-duration: 9.63s;
                                            --fall-delay: 9.899s;
                                        }
                    
                                        .star:nth-child(37) {
                                            --star-tail-length: 6.64em;
                                            --top-offset: 59.93vh;
                                            --fall-duration: 9.112s;
                                            --fall-delay: 8.605s;
                                        }
                    
                                        .star:nth-child(38) {
                                            --star-tail-length: 6.58em;
                                            --top-offset: 10.43vh;
                                            --fall-duration: 7.987s;
                                            --fall-delay: 6.017s;
                                        }
                    
                                        .star:nth-child(39) {
                                            --star-tail-length: 6.59em;
                                            --top-offset: 61.26vh;
                                            --fall-duration: 6.021s;
                                            --fall-delay: 7.35s;
                                        }
                    
                                        .star:nth-child(40) {
                                            --star-tail-length: 5.17em;
                                            --top-offset: 49.92vh;
                                            --fall-duration: 7.175s;
                                            --fall-delay: 2.249s;
                                        }
                    
                                        .star:nth-child(41) {
                                            --star-tail-length: 6.82em;
                                            --top-offset: 40.75vh;
                                            --fall-duration: 7.146s;
                                            --fall-delay: 5.862s;
                                        }
                    
                                        .star:nth-child(42) {
                                            --star-tail-length: 6.61em;
                                            --top-offset: 72.1vh;
                                            --fall-duration: 10.689s;
                                            --fall-delay: 2.958s;
                                        }
                    
                                        .star:nth-child(43) {
                                            --star-tail-length: 5.44em;
                                            --top-offset: 93.15vh;
                                            --fall-duration: 9.57s;
                                            --fall-delay: 9.944s;
                                        }
                    
                                        .star:nth-child(44) {
                                            --star-tail-length: 5.07em;
                                            --top-offset: 32.19vh;
                                            --fall-duration: 10.635s;
                                            --fall-delay: 1.477s;
                                        }
                    
                                        .star:nth-child(45) {
                                            --star-tail-length: 5.48em;
                                            --top-offset: 59.72vh;
                                            --fall-duration: 6.447s;
                                            --fall-delay: 7.453s;
                                        }
                    
                                        .star:nth-child(46) {
                                            --star-tail-length: 5.6em;
                                            --top-offset: 10.59vh;
                                            --fall-duration: 7.434s;
                                            --fall-delay: 2.142s;
                                        }
                    
                                        .star:nth-child(47) {
                                            --star-tail-length: 5.59em;
                                            --top-offset: 73.6vh;
                                            --fall-duration: 6.852s;
                                            --fall-delay: 5.82s;
                                        }
                    
                                        .star:nth-child(48) {
                                            --star-tail-length: 7.18em;
                                            --top-offset: 27.5vh;
                                            --fall-duration: 11.621s;
                                            --fall-delay: 7.058s;
                                        }
                    
                                        .star:nth-child(49) {
                                            --star-tail-length: 7.03em;
                                            --top-offset: 88.25vh;
                                            --fall-duration: 6.427s;
                                            --fall-delay: 7.032s;
                                        }
                    
                                        .star:nth-child(50) {
                                            --star-tail-length: 7.2em;
                                            --top-offset: 81.5vh;
                                            --fall-duration: 11.667s;
                                            --fall-delay: 3.549s;
                                        }
                    
                                        .star::before,
                                        .star::after {
                                            position: absolute;
                                            content: "";
                                            top: 0;
                                            left: calc(var(--star-width) / -2);
                                            width: var(--star-width);
                                            height: 100%;
                                            background: linear-gradient(45deg, transparent, currentColor, transparent);
                                            border-radius: inherit;
                                            animation: blink 2s linear infinite;
                                        }
                    
                                        .star::before {
                                            transform: rotate(45deg);
                                        }
                    
                                        .star::after {
                                            transform: rotate(-45deg);
                                        }

    .app-container{
        position:relative;
        width:100%;
        max-width:20rem;
        height:100vh;
        background-image:url(../images/uploaded_media_0_1774511201584.jpg);
        background-size:cover;
        background-position:center;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        box-shadow:0 .2rem .4rem #00000080
    }

    .title-container{
        text-align:center;
        justify-content: center;
        text-shadow:0 .2rem .4rem #00000080;
        margin: 0.5em;
    }

    .title-container h1{
        font-size:1.5em;
        border: 0.3rem solid #c306b6;
        border-radius: 1rem;
        padding: 0.5rem 1.5rem;
    }

    .title-container h1,
    .title-container p{
        color:#9409bb;
        text-shadow: 
        0 0 5px #c306b6,
        0 0 10px #c306b6,
        0 0 20px #c306b6,
        0 0 40px #c306b6,
        0 0 80px #c306b6,
        0 0 100px #c306b6
        inset 0 0 5px #c306b6;
        animation: neon 0.3s infinite alternate;
    }
    
    .scratch-grid{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        gap: 0.2em;
        margin-top:3vh;
        width:100%;
        padding: 0.2rem;
    }
    
    .scratch-card{
        position:relative;
        width: 6rem;
        height: 6rem;
        border-radius:50%;
        overflow:hidden;
        box-shadow:0 0.2rem 0.5rem #0000004d;
        background-color:#fff;
        border: 0.2rem solid #fff;
    }
    .scratch-card img{
        width:100%;
        height:100%;
        object-fit:cover;
        position:absolute;
        top:0;
        left:0;
        -webkit-user-select:none;
        user-select:none;
        pointer-events:none
    }
    .scratch-card canvas{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        cursor:pointer;
        z-index:10;
        border-radius:50%;
    }

    .button-container{
        margin-top: 0.2rem;
        text-align:center;
        color:#fff;
        text-shadow:0 .1rem .3rem #00000080;
        font-size:5em;
    }

    .button-play button{
        display: flex;
        padding: 0.3em 0.6em;
        font-weight: bolder;
        font-size:0.55em;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        justify-content: center;
        text-align: centerSS;
        align-items: center;
        color:#fff;
        background-color:#3f064f;
        border: 1px solid #902aad;
        border-radius:1.5rem;
        cursor:pointer;
        box-shadow: 0 0.1rem 0.2rem #00000080;
    }

    .button-play button:hover{
        background-color:#902aad;
        border-right: 0.4rem solid #3f064f;
        border-bottom: 0.4rem solid #3f064f;
        box-shadow: 0 0.8rem 1.6rem #00000080;
    }

    @keyframes neon {
        0% {
            text-shadow: 
            0 0 5px #c306b6,
            0 0 10px #c306b6,
            0 0 20px #c306b6,
            0 0 40px #c306b6,
            0 0 80px #c306b6,
            0 0 100px #c306b6;
            opacity: 1;
        }

        50% {
            text-shadow: 
            0 0 3px #c306b6,
            0 0 7px #c306b6,
            0 0 15px #c306b6,
            0 0 30px #c306b6,
            0 0 50px #c306b6,
            0 0 75px #c306b6;
            opacity: 0.8;
        }

        100% {
            text-shadow: 
            0 0 2px #c306b6,
            0 0 5px #c306b6,
            0 0 10px #c306b6,
            0 0 20px #c306b6,
            0 0 40px #c306b6,
            0 0 60px #c306b6;
            opacity: 0.6;
        }
    }

    @keyframes animate {
        0% {
            transform: scale(0) translateY(0) rotate(70deg);
        }

        100% {
            transform: scale(1.3) translateY(-100px) rotate(360deg);
        }     
    }

    @keyframes gradient {
        0% {
            background-position: 0deg;
        }
        50% {
            background-position: 180deg;
        }
        100% {
            background-position: 360deg;
        }
    }

        @keyframes fall {
            to {
                transform: translate3d(-30em, 0, 0);
            }
        }
    
        @keyframes tail-fade {
    
            0%,
            50% {
                width: var(--star-tail-length);
                opacity: 1;
            }
    
            70%,
            80% {
                width: 0;
                opacity: 0.4;
            }
    
            100% {
                width: 0;
                opacity: 0;
            }
        }
    
        @keyframes blink {
            50% {
                opacity: 0.6;
            }
        }

                @keyframes move {
                    from {
                        transform: rotate(0deg) scale(12) translateX(-20px);
                    }
        
                    to {
                        transform: rotate(360deg) scale(18) translateX(20px);
                    }         
                }

                @keyframes img {
                    0% {
                        transform: translateY(0) rotate(0deg);
                    }
        
                    100% {
                        transform: translateY(-20px) rotate(360deg);
                    }         
                }